@import "tailwindcss";


::-webkit-scrollbar {
  width: 8px;              
  height: 8px;           
}

::-webkit-scrollbar-track {
  background: transparent; 
  margin: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; 
  border-radius: 20px;       
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; 
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: #475569; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #64748b;
  }
}